<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISP</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="about us.css">
</head>

<body>
    <video id="video-background" autoplay muted loop>

        <source src="/aboutus.mp4" type="video/mp4">

    </video>
    <header class="header">
        <!-- Left box for logo -->
        <div class="left">
            <img src="/logo.png" alt="">


        </div>
        <!-- Mid box for navbar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="home">Home</a></li>
                <li><a href="aboutus" class="active">About Us</a></li>
                <li><a href="technicians">Technicians</a></li>
                <li><a href="packages">pakages</a></li>
                <li><a href="complain">complains</a></li>
            </ul>
        </div>

        
    </header>
    <div class="container">
        <h1>About US....</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, sit fugiat ipsa quidem deserunt dolor
            tempore iste, explicabo quia, perspiciatis sint maiores illum! Incidunt, perspiciatis eum velit in earum
            error aliquid esse consectetur eius ab amet magni harum soluta! Ad facilis repellat sed atque laboriosam
            asperiores itaque corporis, exercitationem officiis?</p>
    </div>
    <footer class="footer">
        <div class="fleft">
            <h3>Internet services provider</h3>

        </div>
        <div class="fright">
            <h6>To Connect : k214896@nu.edu.pk/k213307@nu.edu.pk</h6>

        </div>
    </footer>


</body>

</html>