doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login and Register
    link(rel="stylesheet", href="login.css")
    script.
      if ("#{alert}") {
        alert("#{alert}");
      }
  body
    .form-container.sign-in-container
      form(action="/", method="post")
        h1 Sign In
        input(type="email", placeholder="Email", name="email")
        input(type="password", placeholder="Password", name="password")
        button Sign In
    .overlay-container
      .overlay
        .overlay-panel.overlay-left
          h1 Welcome Back!
          p To keep connected with us please login with your personal info
          button.ghost#signIn Sign In
        .overlay-panel.overlay-right
          h1 Hello, Friend!
          p Enter your personal details and start your journey with us
          a(href="signup", class="ghost", id="signUp") Sign Up
    // Hidden element to store alert message
    span#alertMessage(style="display: none;") #{alert}
