<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISP Packages</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
</head>
<link rel="stylesheet" href="pakages.css">
<script src="packages.js"></script>
<body>
    <video id="video-background" autoplay muted loop>
        <!-- Replace 'video.mp4' with the path to your video file -->
        <source src="/package bg.mp4" type="video/mp4">
        
    </video>

    <header class="header">
        <!-- Left box for logo -->
        <div class="left">
            <img src="/logo.png" alt="">


        </div>
        <!-- Mid box for navbar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="home">Home</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="technicians">Technicians</a></li>
                <li><a href="packages" class="active">packages</a></li>
                <li><a href="complain">complains</a></li>
            </ul>
        </div>

    </header>

    <div class="packages">
        <div class="offer">
            <h1>PACKAGE 1</h1>
            <div class="propose">
                <ul>
                <li>Available in 4mb/6mb/8mb</li>
                <li>op2</li>
                <li>op3</li>
                <li><a class="purchase" href ="packagesbill" id="purchaseButton1"> Purchase Now</a></li>
            </ul>
            </div>
        </div>
        
        <div class="offer">
            <h1>PACKAGE 2</h1>    
            <div class="propose">
                <ul>
                    <li>Available in 4mb/6mb/8mb</li>
                    <li>op2</li>
                    <li>op3</li>
                    <li><a class="purchase" href ="packagesbill" id="purchaseButton1"> Purchase Now</a></li>
                </ul>
            </div>
        </div>
        
        <div class="offer">
            <h1>PACKAGE 3</h1>
            <div class="propose">
                <ul>
                    <li>Available in 4mb/6mb/8mb</li>
                    <li>op2</li>
                    <li>op3</li>
                    <li><a class="purchase" href ="packagesbill" id="purchaseButton1"> Purchase Now</a></li>
                </ul>
            </div>
        </div>
      


    </div>
    <div id="myModal" class="modal">
        <p>Thank you for your purchase!<br>Be patient...Our technician will connect you ASAP</p>
        <button onclick="closeModal()">Close</button>
    </div>


    <footer class="footer">
        <div class="fleft">
            <h3>Internet services provider</h3>

        </div>
        <div class="fright">
            <h6>To Connect : k214896@nu.edu.pk/k213307@nu.edu.pk</h6>

        </div>
    </footer>

</body>
</html>