<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bill</title>
    <link rel="stylesheet" href="packagesbill.css">
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/packagesbill" method="post">
                <h1>Thanks for purchasing</h1>
                <h3>Our Technician will contact you.Please fill the the information given below to confirm purchase!</h3>

                <input type="firstname"  name="firstname" placeholder="firstname" />
                <input type="text" name="lastname" placeholder="lastname" />
                <input type="email" name="email" placeholder="email" />
                <input type="number" name="contact" placeholder="contact" />
                
                <button type="submit">submit </button>
            </form>
        </div>

</body>
</html>