<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/signup" method="post">
                <h1>Create Account</h1>
                <input type="firstname"  name="firstname" placeholder="firstname" />
                <input type="text" name="lastname" placeholder="lastname" />
                <input type="email" name="email" placeholder="email" />
                <input type="text" name="gender" placeholder="Gender" />
                <input type="number" name="contact" placeholder="contact number" />
                <input type="number" name="age" placeholder="age" />
                <input type="text" name="adress" placeholder="address" />
                <input type="number" name="nic" placeholder="CNIC number" />
                <input type="password" name="password" placeholder="password" />
                <button type="submit">Sign Up</button>
            </form>
        </div>
</body>
</html>