doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ISP
    link(href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="web.css")

  body
    video#video-background(autoplay, muted, loop)
      // Replace 'video.mp4' with the path to your video file
      source(src="/INTERNET SERVICES PROVIDER.mp4", type="video/mp4")

    header.header
      // Left box for logo
      .left
        img(src="/logo.png", alt="")

      // Mid box for navbar
      .mid
        ul.navbar
          li
            a(href="home" class="active") Home
          li
            a(href="aboutus") About Us
          li
            a(href="technicians") Technicians
          li
            a(href="packages") pakages
          li
            a(href="complain") complains
      
    .about
      h1 About us....
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae facilis veniam inventore fuga! Illum neque maiores quod modi praesentium debitis deserunt voluptatem. Reprehenderit temporibus id consequatur. Doloremque animi nulla beatae deserunt, ea sit nemo pariatur, sequi eligendi inventore corrupti cumque velit corporis architecto iusto labore earum molestiae voluptatibus minus ex!


    footer.footer
      .fleft
        h3 Internet services provider

      .fright
        h6 To Connect : k214896@nu.edu.pk/k213307@nu.edu.pk
