/* CSS Reset */

body {
    font-family: 'Baloo Bhai', cursive;
    color: rgb(180 162 255);
    margin: 0px;
    padding: 0px;
    
}
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header {
    
    margin: 177px;
    position: absolute;
    right: -177px;
    width: 1521px;
    top: -203px;
    z-index: 10;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 80px;
    top: 54px;
}

.left img {
    width: 96px;
    margin: -30%;

}

.left div {
    line-height: 19px;
    font-size: 26px;
    position: relative;
    right: -50px;
    top: -60px;
}

.mid {
    display: block;
    width: 60%;
    margin: 29px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 28px;
    top: 48px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: rgb(232 42 209);
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    
    color: rgb(57, 214, 241);

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: rgb(226, 176, 221);;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.about {
   
    border-radius: 28px;
    width: 40%;
    position: relative;
    top: 300px;
    left: 168px;

}

.container {
    border: 2px solid rgb(231, 150, 221);
    margin: 15px 175px;
    padding: 19px;
    width: 37%;
    border-radius: 28px;
    position: relative;
    top:600px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}

.footer {
    display: inline-block;
    background-color: rgb(108, 15, 97);
    position: relative;
    top: 668px;
    width: 100%;
}
.footer div{
    display: inline-block;
    
}
.footer div.fleft{
    text-decoration: underline;
    margin: -2px 831px 0px 49px;
    font-size: 25px;
}
.footer div.fright{
    
    margin: 0px 22px 0px 0px;
}
